@using X.PagedList.Mvc
@using X.PagedList

@model IPagedList<SoFetchGrooming.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    @if (User.IsInRole("Admin")) 
    {
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }
    
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="image-container">
                    <img src="@item.ProductImage" class="card-img-top square-image" alt="Product Image">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ProductDescription)</p>
                    <p class="card-text"><strong>Price:</strong> @Html.DisplayFor(modelItem => item.ProductPrice)</p>
                    <p class="card-text"><strong>Quantity:</strong> @Html.DisplayFor(modelItem => item.ProductQuantity)</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-info">Details</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-primary">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-danger">Delete</a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<partial name="_Pagination" model="Model">