@model IEnumerable<Pet>

@{
    ViewData["Title"] = "Your Pets";
}

@if (!Model.Any())
{
    <h1>Seems like you have no pets registered with us</h1>
    <hr />
    <p>
        <a asp-action="Create">Want to add a pet?</a>
    </p>
}

else
{    
    <h1>Your pets</h1>

    <br />

    <p>
        <a asp-action="Create" class="btn btn-info">Add a pet</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Species </th>
                <th> Breed </th>
                <th> Color </th>
                <th> Weight </th>
                <th> Age </th>
                <th> Gender </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.PetName) </td>
                    <td> @Html.DisplayFor(modelItem => item.PetType.PetTypeName) </td>
                    <td> @Html.DisplayFor(modelItem => item.PetBreed) </td>
                    <td> @Html.DisplayFor(modelItem => item.PetColor) </td>
                    <td> @Html.DisplayFor(modelItem => item.PetWeight) lbs </td>
                    <td> @Html.DisplayFor(modelItem => item.PetAge) years </td>
                    <td> @Html.DisplayFor(modelItem => item.PetGender) </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.PetId">Edit Info</a> |
                        <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.PetId">Details</a> |
                        <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.PetId">Remove Pet</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
