@model IEnumerable<string>

@if (Model != null && Model.Any())
{
    <div id="carouselIndicators-@ViewData["CarouselId"]" class="carousel slide" data-bs-ride="carousel">
        <!-- Image Indicators -->
        <div class="carousel-indicators">
            @for (var i = 0; i < Model.Count(); i++)
            {
                <button type="button" data-bs-target="#carouselIndicators-@ViewData["CarouselId"]" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "")" aria-label="Slide @i"></button>
            }
        </div>
        <!-- Images -->
        <div class="carousel-inner">
            @foreach (var image in Model.Select((value, index) => new { value, index }))
            {
                <div class="carousel-item @(image.index == 0 ? "active" : "")">
                    <div class="image-container-carousel">
                        <img src="@image.value" class="d-block w-100" alt="Image">
                    </div>
                </div>
            }
        </div>
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators-@ViewData["CarouselId"]" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators-@ViewData["CarouselId"]" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myCarousel = document.querySelector('#carouselIndicators-@ViewData["CarouselId"]');
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 8000 // Set the interval to 5 seconds
        });
    });
</script>
